@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Noto+Sans+KR:wght@400;700&display=swap');

// font-family: 'Noto Sans KR', sans-serif;
// font-family: 'Dancing Script', cursive;

$maincolor: #eedeff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}
body {
  background-color: #fff;
}

.container {
  width: 100%;
}

// 링크, 버튼 클릭시 마우스 커서 포인트로 변경
a,
button {
  cursor: pointer;
}

/* 파트 2 : 카페 소개 */
.main__home {
  width: 100%;
  background-color: $maincolor;
  height: 60rem;
  .main__tit {
    text-align: center;
    padding: 30rem 0;
    font-size: 8rem;
  }
}

/* 파트 3 : 별점 높은 순 */
.main__horoscope {
  height: 100rem; // 1000px
  position: relative;
  overflow: hidden;
  .horoscope__block {
    /* 별점 높은 순 텍스트 부분 */
    .horoscope_tit {
      color: #333;
      display: block;
      margin: 0 auto;
      height: 44rem; // 210+80+150 = 440px
      width: 192rem;
      strong {
        display: block;
        padding: 21rem 0 0 10rem;
        font-size: 6rem;
      }
      p {
        display: block;
        padding: 1.4rem 0 0 10rem;
        margin-top: 1rem;
        font-size: 4rem;
      }
    }
    // 슬라이드 + 버튼
    .horoscope__block {
      position: relative;
      width: 100%;
      //height: 40rem;
      display: block;

      /* 별점 높은 순 사진 리스트 부분 */
      .horoscope__wrapper {
        width: 192rem;
        height: 40rem;
        margin: 0 auto;
        left: 10rem;
        position: relative;
        // border: 1px solid green;
        display: flex;
        transform: translate3d(0, 0, 0);
        transition: transform 0.5s;
        margin-bottom: 16rem;
        .horsecope {
          margin-right: 3rem;
          //border: 1px solid #979797;
          position: relative;
          // 이미지 호버 시 나오는 카페 설명 부분
          .horoscope__tit {
            color: #fff;
            top: 4rem;
            opacity: 0;
            padding: 4rem;
            position: absolute;
            text-align: left;
            width: 100%;
            transition: all 0.3s ease;
            h1 {
              font-size: 5rem;
            }
            p {
              margin-top: 2rem;
              font-size: 3rem;
            }
          }
          .horoscope__img {
            width: 584;
            height: 40rem;
            opacity: 1;
            transition: all 0.3s ease 0s;
            overflow: hidden;
          }
          &:hover {
            .horoscope__img {
              background-color: #333;
            }
            img {
              //transform: scale(1.1, 1.1);
              transition: all 0.3s ease;
              opacity: 0.15;
            }
            .horoscope__tit {
              opacity: 1;
              transition: all 0.3s ease;
            }
          }
        }
      }
      // 슬라이드 이전 버튼
      .prev__btn {
        left: 3rem;
        position: absolute;
        bottom: 16.5rem;
      }
      // 슬라이드 다음 버튼
      .next__btn {
        right: 3rem;
        position: absolute;
        bottom: 16.5rem;
      }
      .horoscope__btn {
        border: none;
        border-radius: 50px;
        padding: 2rem 2.5rem;
        background-color: #333;
        color: #fff;
        &:hover {
          background-color: $maincolor;
          color: #333;
        }
      }
    }
  }
}

/* 파트 4 : 뉴 카페 */
.main__newCafe {
  background-color: $maincolor;
  margin: 0 auto;
  height: 100rem;
  /* 뉴 카페 텍스트 부분 */
  .newCafe_tit {
    // border: 1px solid black;
    padding: 15rem 0 10rem 0;
    text-align: center;
    .tit {
      h1 {
        font-size: 6rem;
      }
      p {
        margin-top: 1rem;
        font-size: 4em;
      }
    }
  }
  .newCafe__slider {
    // 뉴 카페 이미지 슬라이드
    width: 64rem;
    height: 48rem;
    position: relative;
    margin: 0 auto;
    // 라디오 버튼 숨기기
    & input[type='radio'] {
      display: none;
    }
    // 클릭 시 불릿 배경 색 흰색으로 변경
    & input[type='radio']:nth-child(1):checked ~ .bullets > label:nth-child(1) {
      background-color: #fff;
    }
    & input[type='radio']:nth-child(2):checked ~ .bullets > label:nth-child(2) {
      background-color: #fff;
    }
    & input[type='radio']:nth-child(3):checked ~ .bullets > label:nth-child(3) {
      background-color: #fff;
    }
    // 3D 효과주기. 1번째 사진이 선택 되었을 경우
    &
      input[type='radio']:nth-child(1):checked
      ~ ul.newCafe__imgs
      > li:nth-child(1) {
      left: 0;
      transition: 0.75s;
      z-index: 1;
      box-shadow: 14px -5px 35px -21px rgba(0, 0, 0, 0.66);
    }
    &
      input[type='radio']:nth-child(1):checked
      ~ ul.newCafe__imgs
      > li:nth-child(2) {
      left: 12rem;
      transition: 0.75s;
      z-index: 0;
      transform: scale(0.8);
      box-shadow: 14px -5px 35px -21px rgba(0, 0, 0, 0.66);
    }
    &
      input[type='radio']:nth-child(1):checked
      ~ ul.newCafe__imgs
      > li:nth-child(3) {
      left: -12rem;
      transition: 0.75s;
      z-index: 0;
      transform: scale(0.8);
      box-shadow: 14px -5px 35px -21px rgba(0, 0, 0, 0.66);
    }
    // 3D 효과주기. 2번째 사진이 선택 되었을 경우
    &
      input[type='radio']:nth-child(2):checked
      ~ ul.newCafe__imgs
      > li:nth-child(1) {
      left: -9rem;
      transition: 0.75s;
      z-index: 0;
      transform: scale(0.9);
      box-shadow: 14px -5px 35px -21px rgba(0, 0, 0, 0.66);
    }
    &
      input[type='radio']:nth-child(2):checked
      ~ ul.newCafe__imgs
      > li:nth-child(2) {
      left: 0;
      transition: 0.75s;
      z-index: 1;
      box-shadow: 14px -5px 35px -21px rgba(0, 0, 0, 0.66);
    }
    &
      input[type='radio']:nth-child(2):checked
      ~ ul.newCafe__imgs
      > li:nth-child(3) {
      left: 9rem;
      transition: 0.75s;
      z-index: 0;
      transform: scale(0.9);
      box-shadow: 14px -5px 35px -21px rgba(0, 0, 0, 0.66);
    }
    // 3D 효과주기. 3번째 사진이 선택 되었을 경우
    &
      input[type='radio']:nth-child(3):checked
      ~ ul.newCafe__imgs
      > li:nth-child(1) {
      left: 9rem;
      transition: 0.75s;
      z-index: 0;
      transform: scale(0.9);
      box-shadow: 14px -5px 35px -21px rgba(0, 0, 0, 0.66);
    }
    &
      input[type='radio']:nth-child(3):checked
      ~ ul.newCafe__imgs
      > li:nth-child(2) {
      left: -9rem;
      transition: 0.75s;
      z-index: 0;
      transform: scale(0.9);
      box-shadow: 14px -5px 35px -21px rgba(0, 0, 0, 0.66);
    }
    &
      input[type='radio']:nth-child(3):checked
      ~ ul.newCafe__imgs
      > li:nth-child(3) {
      left: 0;
      transition: 0.75s;
      z-index: 1;
      box-shadow: 14px -5px 35px -21px rgba(0, 0, 0, 0.66);
    }
    ul.newCafe__imgs {
      padding: 0;
      margin: 0;
      li {
        position: absolute;
        left: 64rem;
        transition-delay: 1s;

        list-style: none;
        padding: 0;
        margin: 0;
        img {
          border: 5px solid #fff;
        }
      }
    }
    .bullets {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 2rem;
      z-index: 2;
      label {
        display: inline-block;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.55);
        width: 2rem;
        height: 2rem;
        cursor: pointer;
      }
    }
  }

  // .newCafe__wrapper {
  //   margin: 0 360px;
  //   border: 1px solid #979797;
  //   text-align: center;

  //   .newCafe {
  //     display: flex;
  //   }
  //   .newCafe__img {
  //     display: flex;
  //     .selected {
  //       width: 790px;
  //       height: 470px;
  //     }
  //     .proselected {
  //       background-color: #8e8796;
  //       width: 626px;
  //       height: 367px;
  //     }
  //   }
  // }
}
.screen_out {
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
}
