@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Noto+Sans+KR:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

html,
body {
  height: 100%;
  font-size: 10px;
}

.screen_out {
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
}

.container {
  width: 100%;
  height: 5200px;
}

.header {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: 0.2s ease-in;
}

.header__inner {
  position: relative;
  margin: 0 auto;
  height: 100px;
}

.header__inner h1 {
  float: left;
  margin-left: 60px;
  width: 200px;
  height: 100px;
}

.header__inner h1 .logo {
  display: block;
  margin: auto;
  padding-top: 15px;
}

.header .gnb {
  float: left;
  font-size: 4rem;
  font-family: "Dancing Script", cursive;
  margin: 25px 0 0 60px;
}

.header .gnb__menu li {
  float: left;
  list-style: none;
  padding-right: 5rem;
}

.header .gnb__menu li a {
  height: 50rem;
  color: #333;
}

.header .gnb__menu li a:hover {
  border-bottom: 1px solid black;
}

.header .mode__btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 175px;
  height: 50px;
  border-radius: 30px;
  margin: 25px 60px 0 0;
  box-shadow: 10px 10px 10px #000000a8;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: #333;
}

.header .mode__btn i {
  margin-right: 10px;
}

.header .mode__btn:hover {
  background-color: black;
  color: white;
}

.header .mode__btn:hover .fa-moon {
  color: yellow;
}

.header .on {
  background-color: #000;
}

/* section2 */
.main__home {
  width: 100%;
  background-color: #EEDEFF;
  height: 60rem;
}

.main__home .main__tit {
  text-align: center;
  padding: 30rem 0;
  font-size: 8rem;
}

/* section 3. Horoscope [별점 높은 순] */
.main__horoscope {
  height: 100rem;
  position: relative;
  overflow: hidden;
  /* article 3-1. 텍스트 부분 */
  /* article 3-2. 슬라이드 + 버튼 */
}

.main__horoscope .horoscope__tit {
  color: #333;
  display: block;
  margin: 0 auto;
  height: 44rem;
  width: 192rem;
}

.main__horoscope .horoscope__tit strong {
  display: block;
  padding: 21rem 0 0 18rem;
  font-size: 6rem;
}

.main__horoscope .horoscope__tit p {
  display: block;
  padding: 1.4rem 0 0 18rem;
  margin-top: 1rem;
  font-size: 4rem;
}

.main__horoscope .horoscope__block {
  position: relative;
  width: 100%;
  display: block;
  /* 별점 높은 순 사진 리스트 부분 */
}

.main__horoscope .horoscope__block .horoscope__wrapper {
  width: 192rem;
  height: 40rem;
  margin: 0 auto;
  left: 18rem;
  position: relative;
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: transform 0.5s;
  margin-bottom: 16rem;
}

.main__horoscope .horoscope__block .horoscope__wrapper .horoscope {
  margin-right: 3rem;
  position: relative;
}

.main__horoscope .horoscope__block .horoscope__wrapper .horoscope .horoscope__tit {
  color: #fff;
  top: 4rem;
  opacity: 0;
  padding: 4rem;
  position: absolute;
  text-align: left;
  width: 100%;
  transition: all 0.3s ease;
}

.main__horoscope .horoscope__block .horoscope__wrapper .horoscope .horoscope__tit h1 {
  font-size: 5rem;
}

.main__horoscope .horoscope__block .horoscope__wrapper .horoscope .horoscope__tit p {
  margin-top: 2rem;
  font-size: 3rem;
}

.main__horoscope .horoscope__block .horoscope__wrapper .horoscope__img {
  width: 58.4rem;
  height: 40rem;
  opacity: 1;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

.main__horoscope .horoscope__block .horoscope__wrapper .horoscope:hover .horoscope__img {
  background-color: #333;
}

.main__horoscope .horoscope__block .horoscope__wrapper .horoscope:hover img {
  transition: all 0.3s ease;
  opacity: 0.15;
}

.main__horoscope .horoscope__block .horoscope__wrapper .horoscope:hover .horoscope__tit {
  opacity: 1;
  transition: all 0.3s ease;
}

.main__horoscope .horoscope__block .horoscope__prevbtn {
  left: 3rem;
  position: absolute;
  bottom: 16.5rem;
}

.main__horoscope .horoscope__block .horoscope__nextbtn {
  right: 3rem;
  position: absolute;
  bottom: 16.5rem;
}

.main__horoscope .horoscope__block .horoscope__btn {
  border: none;
  border-radius: 50px;
  padding: 2rem 2.5rem;
  background-color: #333;
  color: #fff;
}

.main__horoscope .horoscope__block .horoscope__btn:hover {
  background-color: #EEDEFF;
  color: #333;
}

/*section 4: 전망좋은 카페*/
.main__scenery {
  height: 1000px;
}

.main__scenery .scenery__box {
  height: 1000px;
  position: relative;
}

.main__scenery .scenery__box .scenery__bg__left {
  width: 33%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
}

.main__scenery .scenery__box .scenery__bg__left .scenery__bg__bigBox {
  width: 200%;
  height: 100%;
  position: absolute;
  transition: 0.5s ease-out;
}

.main__scenery .scenery__box .scenery__bg__left .scenery__bg__bigBox .scenery__bg__bigSlide1 {
  width: 50%;
  height: 100%;
  float: left;
  background: url("../img/05/left/L_content_1_1.png") center no-repeat;
  background-size: cover;
}

.main__scenery .scenery__box .scenery__bg__left .scenery__bg__bigBox .scenery__bg__bigSlide2 {
  width: 50%;
  height: 100%;
  float: left;
  background: url("../img/05/left/L_content_2_1.png") left top no-repeat;
  background-size: cover;
}

.main__scenery .scenery__box .scenery__bg__left .scenery__bg__smallBox {
  width: 34rem;
  height: 68rem;
  right: 0;
  top: 50%;
  margin-top: -34rem;
  position: absolute;
}

.main__scenery .scenery__box .scenery__bg__left .scenery__bg__smallBox .scenery__bg__up__container {
  width: 34rem;
  height: 34rem;
  position: relative;
  overflow: hidden;
}

.main__scenery .scenery__box .scenery__bg__left .scenery__bg__smallBox .scenery__bg__up__container .scenery__bg__up {
  width: 68rem;
  height: 34rem;
  position: absolute;
  transition: 0.5s ease-out;
}

.main__scenery .scenery__box .scenery__bg__left .scenery__bg__smallBox .scenery__bg__up__container .scenery__bg__up .scenery__bg__smallSlide1 {
  width: 34rem;
  height: 100%;
  float: left;
  background: url("../img/05/left/L_scenery1_1_bg.png") center no-repeat;
  background-size: cover;
}

.main__scenery .scenery__box .scenery__bg__left .scenery__bg__smallBox .scenery__bg__up__container .scenery__bg__up .scenery__bg__smallSlide2 {
  width: 34rem;
  height: 100%;
  float: left;
  background: url("../img/05/left/L_scenery_2_1_bg.png") center no-repeat;
  background-size: cover;
}

.main__scenery .scenery__box .scenery__bg__left .scenery__bg__smallBox .scenery__bg__down {
  width: 34rem;
  height: 34rem;
  background: white;
}

.main__scenery .scenery__box .scenery__bg__left .scenery__bg__smallBox .scenery__bg__down .scenery__bg__small {
  width: 34rem;
  height: 34rem;
  position: absolute;
  background: url("../img/05/left/L_text_2_1.png") center no-repeat;
  background-size: cover;
  opacity: 1;
  transition: opacity 1s;
}

.main__scenery .scenery__box .scenery__bg__left .scenery__bg__smallBox .scenery__bg__down .scenery__bg__small2 {
  width: 34rem;
  height: 34rem;
  position: absolute;
  background: url("../img/05/left/L_text_1_1.png") center no-repeat;
  background-size: cover;
  opacity: 0;
  transition: opacity 1s;
}

.main__scenery .scenery__box .scenery__bg__right {
  width: 67%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
}

.main__scenery .scenery__box .scenery__bg__right .scenery__bg__detail {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  box-shadow: 5px 5px 15px 5px #000000a8;
  padding-top: 5.7rem;
  background-color: #EEDEFF;
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 25rem;
  margin-top: 22rem;
  transition: 0.2s ease-in;
}

.main__scenery .scenery__box .scenery__bg__right .scenery__bg__detail p {
  width: 15rem;
  color: #333;
  font-size: 30px;
  text-align: center;
}

.main__scenery .scenery__box .scenery__bg__right .scenery__bg__detail .arrow {
  font-size: 30px;
  text-shadow: 5px 5px 7px #000000a8;
}

.main__scenery .scenery__box .scenery__bg__right .scenery__bg__detail:hover {
  transform: scale(1.2);
}

.main__scenery .scenery__box .scenery__bg__right .scenery__bg__bigBox {
  width: 200%;
  height: 100%;
  position: absolute;
  transition: 0.5s ease-out;
}

.main__scenery .scenery__box .scenery__bg__right .scenery__bg__bigBox .scenery__bg__bigSlide1 {
  width: 50%;
  height: 100%;
  float: left;
  background: url("../img/05/right/R_content_1_1.png") center no-repeat;
  background-size: cover;
}

.main__scenery .scenery__box .scenery__bg__right .scenery__bg__bigBox .scenery__bg__bigSlide2 {
  width: 50%;
  height: 100%;
  float: left;
  background: url("../img/05/right/R_content_2_1.png") center no-repeat;
  background-size: cover;
}

.main__scenery .scenery__box .scenery__bg__right .scenery__bg__smallBox {
  width: 34rem;
  height: 68rem;
  left: 0;
  top: 50%;
  margin-top: -340px;
  position: absolute;
}

.main__scenery .scenery__box .scenery__bg__right .scenery__bg__smallBox .scenery__bg__up {
  width: 34rem;
  height: 34rem;
  background: white;
}

.main__scenery .scenery__box .scenery__bg__right .scenery__bg__smallBox .scenery__bg__up .scenery__bg__small {
  width: 34rem;
  height: 34rem;
  position: absolute;
  background: url("../img/05/right/R_text_2_1.png") center no-repeat;
  background-size: cover;
  opacity: 1;
  transition: opacity 1s;
}

.main__scenery .scenery__box .scenery__bg__right .scenery__bg__smallBox .scenery__bg__up .scenery__bg__small2 {
  width: 34rem;
  height: 34rem;
  position: absolute;
  background: url("../img/05/right/R_text_1_1.png") center no-repeat;
  background-size: cover;
  opacity: 0;
  transition: opacity 1s;
}

.main__scenery .scenery__box .scenery__bg__right .scenery__bg__smallBox .scenery__bg__down__container {
  width: 34rem;
  height: 34rem;
  position: relative;
  overflow: hidden;
}

.main__scenery .scenery__box .scenery__bg__right .scenery__bg__smallBox .scenery__bg__down__container .scenery__bg__down {
  width: 68rem;
  height: 34rem;
  position: absolute;
  transition: 0.5s ease-out;
}

.main__scenery .scenery__box .scenery__bg__right .scenery__bg__smallBox .scenery__bg__down__container .scenery__bg__down .scenery__bg__smallSlide1 {
  width: 34rem;
  height: 100%;
  float: left;
  background: url("../img/05/right/R_scenery1_1_bg.png") center no-repeat;
  background-size: cover;
}

.main__scenery .scenery__box .scenery__bg__right .scenery__bg__smallBox .scenery__bg__down__container .scenery__bg__down .scenery__bg__smallSlide2 {
  width: 34rem;
  height: 100%;
  float: left;
  background: url("../img/05/right/R_scenery2_1_bg.png.png") center no-repeat;
  background-size: cover;
}

/*section 5: 이달의 카페*/
.main__best {
  height: 1000px;
  position: relative;
  overflow: hidden;
}

.main__best .best__tit {
  width: 98.8rem;
  height: 58rem;
  padding: 20rem 0px 0px 9.2rem;
  margin: 0 auto;
  line-height: 50px;
  letter-spacing: 2px;
}

.main__best .tit {
  font-size: 50px;
  margin-bottom: 3rem;
}

.main__best .sub__tit {
  font-size: 36px;
  font-family: 'Frank Ruhl Libre', serif;
}

.main__best .best__bg {
  width: 100%;
  height: 58rem;
  position: relative;
  overflow: hidden;
  background: url("../img/06/best_1_1.png") center no-repeat;
  background-size: cover;
}

.main__best .best__bg .best__inner__bg {
  width: 100%;
  height: 58rem;
  position: absolute;
  top: 58rem;
  background: url("../img/06/bg.png") center no-repeat;
  background-size: cover;
  transition: 0.5s ease-out;
}

.main__best .best__box {
  width: 36rem;
  height: 58rem;
  position: absolute;
  overflow: hidden;
  top: 21rem;
  left: 60%;
  background: url("../img/06/best_1_1.png") center no-repeat;
  background-size: cover;
  box-shadow: 10px 10px 15px #000000a8;
}

.main__best .best__box .best__header {
  width: 36rem;
  height: 58rem;
  position: absolute;
  top: 58rem;
  background: url("../img/06/bg.png") center no-repeat;
  background-size: cover;
  transition: 0.5s ease-out;
}

.main__best .scenery__bg__detail {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  box-shadow: 5px 5px 15px 5px #000000a8;
  padding-top: 5.7rem;
  background-color: #EEDEFF;
  position: absolute;
  z-index: 999;
  top: 50rem;
  left: 60%;
  margin: 22rem;
  transition: 0.2s ease-in;
}

.main__best .scenery__bg__detail p {
  width: 15rem;
  color: #333;
  font-size: 30px;
  text-align: center;
}

.main__best .scenery__bg__detail .arrow {
  font-size: 30px;
  text-shadow: 5px 5px 7px #000000a8;
}

.main__best .scenery__bg__detail:hover {
  transform: scale(1.2);
}

/* section 6. New cafe 4 [뉴 카페] */
.main__newCafe {
  height: 100rem;
  position: relative;
  background-color: #EEDEFF;
  margin: 0 auto;
  /* article 6-1. 텍스트 부분 */
  /* article 6-2. 슬라이드 + 버튼 */
}

.main__newCafe .newCafe__tit {
  padding: 15rem 0 8rem 0;
  text-align: center;
}

.main__newCafe .newCafe__tit strong {
  font-size: 6rem;
}

.main__newCafe .newCafe__tit p {
  margin-top: 1rem;
  font-size: 4em;
}

.main__newCafe .newCafe__block {
  position: relative;
  width: 79rem;
  margin: 0 auto;
  display: block;
  /* 뉴 카페 이미지 슬라이드 */
}

.main__newCafe .newCafe__block .newCafe__slider {
  width: 79rem;
  margin: 0 auto;
  height: 47rem;
  position: relative;
  /* < (이전), > (다음) 버튼으로 슬라이드 효과주기 */
  /* 불릿으로 슬라이드 효과주기 */
}

.main__newCafe .newCafe__block .newCafe__slider input[type='radio'] {
  display: none;
}

.main__newCafe .newCafe__block .newCafe__slider input[type='radio']:nth-child(1):checked ~ .bullets > label:nth-child(1) {
  background-color: #fff;
}

.main__newCafe .newCafe__block .newCafe__slider input[type='radio']:nth-child(2):checked ~ .bullets > label:nth-child(2) {
  background-color: #fff;
}

.main__newCafe .newCafe__block .newCafe__slider input[type='radio']:nth-child(3):checked ~ .bullets > label:nth-child(3) {
  background-color: #fff;
}

.main__newCafe .newCafe__block .newCafe__slider input[type='radio']:nth-child(1):checked ~ ul.newCafe__imgs > li:nth-child(1) {
  left: 0;
  transition: 0.5s;
  z-index: 1;
  box-shadow: 14px -5px 35px -21px #000000a8;
}

.main__newCafe .newCafe__block .newCafe__slider input[type='radio']:nth-child(1):checked ~ ul.newCafe__imgs > li:nth-child(2) {
  left: 15rem;
  transition: 0.5s;
  z-index: 0;
  transform: scale(0.8);
  box-shadow: 14px -5px 35px -21px #000000a8;
}

.main__newCafe .newCafe__block .newCafe__slider input[type='radio']:nth-child(1):checked ~ ul.newCafe__imgs > li:nth-child(3) {
  left: -15rem;
  transition: 0.5s;
  z-index: 0;
  transform: scale(0.8);
  box-shadow: 14px -5px 35px -21px #000000a8;
}

.main__newCafe .newCafe__block .newCafe__slider input[type='radio']:nth-child(2):checked ~ ul.newCafe__imgs > li:nth-child(1) {
  left: -15rem;
  transition: 0.5s;
  z-index: 0;
  transform: scale(0.8);
  box-shadow: 14px -5px 35px -21px #000000a8;
}

.main__newCafe .newCafe__block .newCafe__slider input[type='radio']:nth-child(2):checked ~ ul.newCafe__imgs > li:nth-child(2) {
  left: 0;
  transition: 0.5s;
  z-index: 1;
  box-shadow: 14px -5px 35px -21px #000000a8;
}

.main__newCafe .newCafe__block .newCafe__slider input[type='radio']:nth-child(2):checked ~ ul.newCafe__imgs > li:nth-child(3) {
  left: 15rem;
  transition: 0.5s;
  z-index: 0;
  transform: scale(0.8);
  box-shadow: 14px -5px 35px -21px #000000a8;
}

.main__newCafe .newCafe__block .newCafe__slider input[type='radio']:nth-child(3):checked ~ ul.newCafe__imgs > li:nth-child(1) {
  left: 15rem;
  transition: 0.5s;
  z-index: 0;
  transform: scale(0.8);
  box-shadow: 14px -5px 35px -21px #000000a8;
}

.main__newCafe .newCafe__block .newCafe__slider input[type='radio']:nth-child(3):checked ~ ul.newCafe__imgs > li:nth-child(2) {
  left: -15rem;
  transition: 0.5s;
  z-index: 0;
  transform: scale(0.8);
  box-shadow: 14px -5px 35px -21px #000000a8;
}

.main__newCafe .newCafe__block .newCafe__slider input[type='radio']:nth-child(3):checked ~ ul.newCafe__imgs > li:nth-child(3) {
  left: 0;
  transition: 0.5s;
  z-index: 1;
  box-shadow: 14px -5px 35px -21px #000000a8;
}

.main__newCafe .newCafe__block .newCafe__slider ul.newCafe__imgs {
  padding: 0;
  margin: 0;
}

.main__newCafe .newCafe__block .newCafe__slider ul.newCafe__imgs li {
  position: absolute;
  left: 64rem;
  transition-delay: 1s;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main__newCafe .newCafe__block .newCafe__slider ul.newCafe__imgs li img {
  width: 79rem;
  height: 47rem;
  border: 2px solid #fff;
}

.main__newCafe .newCafe__block .newCafe__slider .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -6rem;
  z-index: 2;
}

.main__newCafe .newCafe__block .newCafe__slider .bullets label {
  display: inline-block;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.55);
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.main__newCafe .newCafe__block .newCafe__prevbtn {
  right: 100rem;
  position: absolute;
  bottom: 46.5rem;
}

.main__newCafe .newCafe__block .newCafe__nextbtn {
  left: 100rem;
  position: absolute;
  bottom: 46.5rem;
}

.main__newCafe .newCafe__block .newCafe__btn {
  border: none;
  bottom: 20rem;
  padding: 2rem 2.5rem;
  color: #fff;
  background-color: #EEDEFF;
}

.main__newCafe .newCafe__block .newCafe__btn:hover {
  background-color: #EEDEFF;
  color: #333;
}

.footer {
  position: relative;
  width: 100%;
  height: 300px;
  bottom: 0;
  padding: 70px 60px;
}

.footer__inner {
  position: relative;
  margin: 0 auto;
}

.footer__logo {
  float: left;
}

.footer__tit {
  padding-top: 50px;
  font-weight: bold;
  font-family: "Dancing Script", cursive;
}

.footer__tit p:first-child {
  font-family: "Noto Sans KR", sans-serif;
}

.footer__gnb {
  float: right;
  display: flex;
  width: 378px;
  justify-content: space-between;
}

.footer__menu {
  width: 70px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.6rem;
}

.footer__menu__list {
  padding-top: 20px;
  list-style: none;
}

.footer__menu__list li {
  height: 30px;
}

.footer__menu__list li a {
  color: #333;
  font-size: 1rem;
}
/*# sourceMappingURL=main.css.map */