@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Noto+Sans+KR:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 10px;
}

.screen_out {
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
}

.container {
  width: 100%;
  height: 5200px;
}

header {
  height: 100px;
  background-color: rosybrown;
}

.main__home {
  width: 100%;
  background-color: #eedeff;
  height: 60rem;
}

.main__horoscope {
  height: 1000px;
  position: relative;
  overflow: hidden;
  background: olive;
}

.main__new {
  height: 1200px;
  position: relative;
  margin: 0 auto;
  background: orangered;
}

/*section 4: 이달의 카페*/
.main__best {
  height: 1000px;
  position: relative;
  overflow: hidden;
}

.main__best .best__tit {
  width: 98.8rem;
  height: 58rem;
  padding: 20rem 0px 0px 9.2rem;
  margin: 0 auto;
  line-height: 50px;
  letter-spacing: 2px;
}

.main__best .tit {
  font-size: 50px;
  margin-bottom: 3rem;
}

.main__best .sub__tit {
  font-size: 36px;
  font-family: 'Frank Ruhl Libre', serif;
}

.main__best .best__bg {
  width: 100%;
  height: 58rem;
  position: relative;
  overflow: hidden;
  background: url('../img/06/best_1_1.png') center no-repeat;
  background-size: cover;
}

.main__best .best__bg .best__inner__bg {
  width: 100%;
  height: 58rem;
  position: absolute;
  top: 58rem;
  background: url('../img/06/bg.png') center no-repeat;
  background-size: cover;
  transition: 0.5s ease-out;
}

.main__best .best__box {
  width: 36rem;
  height: 58rem;
  position: absolute;
  overflow: hidden;
  top: 21rem;
  left: 60%;
  background: url('../img/06/best_1_1.png') center no-repeat;
  background-size: cover;
  box-shadow: 10px 10px 15px #545455;
}

.main__best .best__box .best__header {
  width: 36rem;
  height: 58rem;
  position: absolute;
  top: 58rem;
  background: url('../img/06/bg.png') center no-repeat;
  background-size: cover;
  transition: 0.5s ease-out;
}

/*section 5: 전망좋은 카페*/
.main__scenery {
  height: 1000px;
}

.main__scenery .scenery__box {
  height: 1000px;
}

.main__scenery .scenery__box .scenery__bg__left {
  width: 33%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
}

.main__scenery .scenery__box .scenery__bg__left .scenery__bg__bigBox {
  width: 200%;
  height: 100%;
  position: absolute;
  transition: 0.5s ease-out;
}

.main__scenery
  .scenery__box
  .scenery__bg__left
  .scenery__bg__bigBox
  .scenery__bg__bigSlide1 {
  width: 50%;
  height: 100%;
  float: left;
  background: url('../img/05/left/L_content_1_1.png') center no-repeat;
  background-size: cover;
}

.main__scenery
  .scenery__box
  .scenery__bg__left
  .scenery__bg__bigBox
  .scenery__bg__bigSlide2 {
  width: 50%;
  height: 100%;
  float: left;
  background: url('../img/05/left/L_content_2_1.png') left top no-repeat;
  background-size: cover;
}

.main__scenery .scenery__box .scenery__bg__left .scenery__bg__smallBox {
  width: 34rem;
  height: 68rem;
  right: 0;
  top: 50%;
  margin-top: -34rem;
  position: absolute;
}

.main__scenery
  .scenery__box
  .scenery__bg__left
  .scenery__bg__smallBox
  .scenery__bg__up__container {
  width: 34rem;
  height: 34rem;
  position: relative;
  overflow: hidden;
}

.main__scenery
  .scenery__box
  .scenery__bg__left
  .scenery__bg__smallBox
  .scenery__bg__up__container
  .scenery__bg__up {
  width: 68rem;
  height: 34rem;
  position: absolute;
  transition: 0.5s ease-out;
}

.main__scenery
  .scenery__box
  .scenery__bg__left
  .scenery__bg__smallBox
  .scenery__bg__up__container
  .scenery__bg__up
  .scenery__bg__smallSlide1 {
  width: 34rem;
  height: 100%;
  float: left;
  background: url('../img/05/left/L_scenery1_1_bg.png') center no-repeat;
  background-size: cover;
}

.main__scenery
  .scenery__box
  .scenery__bg__left
  .scenery__bg__smallBox
  .scenery__bg__up__container
  .scenery__bg__up
  .scenery__bg__smallSlide2 {
  width: 34rem;
  height: 100%;
  float: left;
  background: url('../img/05/left/L_scenery_2_1_bg.png') center no-repeat;
  background-size: cover;
}

.main__scenery
  .scenery__box
  .scenery__bg__left
  .scenery__bg__smallBox
  .scenery__bg__down {
  width: 34rem;
  height: 34rem;
  background: white;
}

.main__scenery
  .scenery__box
  .scenery__bg__left
  .scenery__bg__smallBox
  .scenery__bg__down
  .scenery__bg__small {
  width: 34rem;
  height: 34rem;
  position: absolute;
  background: url('../img/05/left/L_text_2_1.png') center no-repeat;
  background-size: cover;
  opacity: 1;
  transition: opacity 1s;
}

.main__scenery
  .scenery__box
  .scenery__bg__left
  .scenery__bg__smallBox
  .scenery__bg__down
  .scenery__bg__small2 {
  width: 34rem;
  height: 34rem;
  position: absolute;
  background: url('../img/05/left/L_text_1_1.png') center no-repeat;
  background-size: cover;
  opacity: 0;
  transition: opacity 1s;
}

.main__scenery .scenery__box .scenery__bg__right {
  width: 67%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
}

.main__scenery .scenery__box .scenery__bg__right .scenery__bg__bigBox {
  width: 200%;
  height: 100%;
  position: absolute;
  transition: 0.5s ease-out;
}

.main__scenery
  .scenery__box
  .scenery__bg__right
  .scenery__bg__bigBox
  .scenery__bg__bigSlide1 {
  width: 50%;
  height: 100%;
  float: left;
  background: url('../img/05/right/R_content_1_1.png') center no-repeat;
  background-size: cover;
}

.main__scenery
  .scenery__box
  .scenery__bg__right
  .scenery__bg__bigBox
  .scenery__bg__bigSlide2 {
  width: 50%;
  height: 100%;
  float: left;
  background: url('../img/05/right/R_content_2_1.png') center no-repeat;
  background-size: cover;
}

.main__scenery .scenery__box .scenery__bg__right .scenery__bg__smallBox {
  width: 34rem;
  height: 68rem;
  left: 0;
  top: 50%;
  margin-top: -340px;
  position: absolute;
}

.main__scenery
  .scenery__box
  .scenery__bg__right
  .scenery__bg__smallBox
  .scenery__bg__up {
  width: 34rem;
  height: 34rem;
  background: white;
}

.main__scenery
  .scenery__box
  .scenery__bg__right
  .scenery__bg__smallBox
  .scenery__bg__up
  .scenery__bg__small {
  width: 34rem;
  height: 34rem;
  position: absolute;
  background: url('../img/05/right/R_text_2_1.png') center no-repeat;
  background-size: cover;
  opacity: 1;
  transition: opacity 1s;
}

.main__scenery
  .scenery__box
  .scenery__bg__right
  .scenery__bg__smallBox
  .scenery__bg__up
  .scenery__bg__small2 {
  width: 34rem;
  height: 34rem;
  position: absolute;
  background: url('../img/05/right/R_text_1_1.png') center no-repeat;
  background-size: cover;
  opacity: 0;
  transition: opacity 1s;
}

.main__scenery
  .scenery__box
  .scenery__bg__right
  .scenery__bg__smallBox
  .scenery__bg__down__container {
  width: 34rem;
  height: 34rem;
  position: relative;
  overflow: hidden;
}

.main__scenery
  .scenery__box
  .scenery__bg__right
  .scenery__bg__smallBox
  .scenery__bg__down__container
  .scenery__bg__down {
  width: 68rem;
  height: 34rem;
  position: absolute;
  transition: 0.5s ease-out;
}

.main__scenery
  .scenery__box
  .scenery__bg__right
  .scenery__bg__smallBox
  .scenery__bg__down__container
  .scenery__bg__down
  .scenery__bg__smallSlide1 {
  width: 34rem;
  height: 100%;
  float: left;
  background: url('../img/05/right/R_scenery1_1_bg.png') center no-repeat;
  background-size: cover;
}

.main__scenery
  .scenery__box
  .scenery__bg__right
  .scenery__bg__smallBox
  .scenery__bg__down__container
  .scenery__bg__down
  .scenery__bg__smallSlide2 {
  width: 34rem;
  height: 100%;
  float: left;
  background: url('../img/05/right/R_scenery2_1_bg.png.png') center no-repeat;
  background-size: cover;
}

footer {
  height: 300px;
  background-color: sienna;
}

.screen_out {
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
}
/*# sourceMappingURL=main.css.map */
