@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Noto+Sans+KR:wght@400;700&display=swap');

// font-family: 'Noto Sans KR', sans-serif;
// font-family: 'Dancing Script', cursive;

$maincolor: #eedeff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
}

html,
body {
  height: 100%;
  font-size: 10px;
  //font-size: 7px; // 맥북 기준
  font-family: 'Noto Sans KR', sans-serif;
}
.container {
  width: 100%;
}

// 링크, 버튼 클릭시 마우스 커서 포인트로 변경
a,
button {
  all: unset;
  cursor: pointer;
}

/* 파트 2 : 카페 소개 */
.main__home {
  width: 100%;
  background-color: $maincolor;
  height: 60rem;
  .main__tit {
    text-align: center;
    padding: 30rem 0;
    font-size: 8rem;
  }
}

// 스페셜 카페 content
.content {
  width: 100%;
  position: relative;
  display: block;
  // 메뉴 박스 부분
  &__menu {
    width: 120rem;
    margin: 0 auto;
    color: #333;
    // 카페 메뉴 - 종류 선택
    .cafeKinds {
      padding: 10rem 0 1rem 0;
      font-size: 3rem;
    }
    // 카페 메뉴 - 위치 선택
    .locations {
      padding-top: 1rem;
      font-size: 2rem;
    }
    // 카페 메뉴 - 해시 태그
    .tags {
      padding: 1.4rem 0.6rem;
      font-size: 1.6rem;
      margin-bottom: 3rem;
    }
    button,
    strong {
      margin-right: 3rem;
      &:hover {
        background-color: sandybrown;
      }
    }
  }
  // 메뉴 이미지 부분
  &__imgs {
    width: 100%;
    background-color: #f4f4f4;
    padding-bottom: 11rem;
    margin-bottom: 5rem;
    // 선택된 카페 카테고리 텍스트
    .select__cafe {
      width: 120rem;
      margin: 0 auto;
      padding: 3rem 0;
      font-size: 2rem;
      span {
        margin: 0 2rem 0 2rem;
      }
    }
    // 카페 이미지 모음
    .cafe__block {
      width: 120rem;
      margin: 0 auto;
      display: block;
      .cafe__imgs {
        // 카페 이미지 1번째 줄
        &1 {
          display: flex;
          .img {
            img {
              width: 38rem;
              height: 30rem;
            }
            &:nth-child(2) {
              margin: 0 3rem 0 3rem;
            }
            &:hover {
              background-color: #47405a;
            }
          }
        }
        // 카페 이미지 2번째 줄
        &2 {
          display: flex;
          margin: 3rem 0 3rem 0;
          .img {
            img {
              width: 38rem;
              height: 30rem;
            }
            &:nth-child(2) {
              margin: 0 3rem 0 3rem;
            }
          }
        }
        // 카페 이미지 3번째 줄
        &3 {
          display: flex;
          // margin-bottom: 11rem;
          .img {
            img {
              width: 38rem;
              height: 30rem;
            }
            &:nth-child(2) {
              margin: 0 3rem 0 3rem;
            }
          }
        }
      }
    }
  }
}
