@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Noto+Sans+KR:wght@400;700&display=swap');

// font-family: 'Noto Sans KR', sans-serif;
// font-family: 'Dancing Script', cursive;

// 변수
$maincolor: #eedeff;
$textcolor: #333;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 10px;
}

.container {
  position: relative;
  overflow: hidden;
}

a {
  text-decoration: none;
}

// 웹접근성 텍스트
.screen_out {
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
}

// header
.header {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 1;
  &__inner {
    position: relative;
    margin: 0 auto;
    height: 100px;
    h1 {
      float: left;
      margin-left: 60px;
      width: 200px;
      height: 100px;
      .logo {
        display: block;
        margin: auto;
        padding-top: 15px;
      }
    }
  }
  .gnb {
    float: left;
    font-size: 4rem;
    font-family: 'Dancing Script', cursive;
    margin: 25px 0 0 60px;
    &__menu li {
      float: left;
      list-style: none;
      padding-right: 30px;
      a {
        color: $textcolor;
      }
    }
  }
  .mode__btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 175px;
    height: 50px;
    border-radius: 30px;
    margin: 25px 60px 0 0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    border: 0;
    outline: 0;
    cursor: pointer;
    i {
      margin-right: 10px;
      color: #333;
    }
    &-right {
      color: $textcolor;
    }
  }
  .on {
    background-color: #000;
  }
}

// Main
// .main {
//   position: relative;
//   width: 100%;
//   height: 100%;
//   &__content {
//     width: 100%;
//     height: 100%;
//   }
//   &__home {
//     background-color: $maincolor;
//   }
// }

// Main-Home
// .home__inner {
//   width: 1200px;
//   height: 400px;
//   margin: 0 auto;
// }

// Footer
.footer {
  position: relative;
  width: 100%;
  height: 300px;
  bottom: 0;
  padding: 70px 60px;
  &__inner {
    position: relative;
    margin: 0 auto;
  }
  &__logo {
    float: left;
  }
  &__tit {
    padding-top: 50px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    p:first-child {
      font-family: 'Noto Sans KR', sans-serif;
    }
  }
  &__gnb {
    float: right;
    display: flex;
    width: 378px;
    justify-content: space-between;
  }
  &__menu {
    width: 70px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.6rem;
    &__list {
      padding-top: 20px;
      list-style: none;
      li {
        height: 30px;
        a {
          color: $textcolor;
          font-size: 1rem;
        }
      }
    }
  }
}
