@import "../variables/variables";
/*main scss*/
@mixin scenery__bg__Slide {
  width: 50%;
  height: 100%;
  float: left;
}

@mixin scenery__bg__smallSlide {
  width: 34rem;
  height: 100%;
  float: left;
}

@mixin scenery__bg__smollContainer {
  width: 34rem;
  height: 34rem;
  position: relative;
  overflow: hidden;
}

/*header*/
@mixin header{
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: 0.2s ease-in;
  &__inner {
    position: relative;
    margin: 0 auto;
    height: 100px;
    h1 {
      float: left;
      margin-left: 60px;
      width: 200px;
      height: 100px;
      .logo {
        display: block;
        margin: auto;
        padding-top: 15px;
      }
    }
  }
  .gnb {
    float: left;
    font-size: 4rem;
    font-family: 'Dancing Script', cursive;
    margin: 25px 0 0 60px;
    &__menu li {
      float: left;
      list-style: none;
      padding-right: 5rem;
      a {
        height: 50rem;
        color: $textcolor;
        &:hover {
          border-bottom: 1px solid black;
        }
      }
    }
  }

  .mode__btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 175px;
    height: 50px;
    border-radius: 30px;
    margin: 25px 60px 0 0;
    box-shadow: 10px 10px 10px $boxshadow;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: $textcolor;
    i {
      margin-right: 10px;
    }
    &:hover {
      background-color: black;
      color: white;
      .fa-moon {
        color: yellow;
      }
    }
  }
  .on {
    background-color: #000;
  }
}
