@import "../variables/variables";
/*main scss*/
@mixin scenery__bg__Slide {
  width: 50%;
  height: 100%;
  float: left;
}

@mixin scenery__bg__smallSlide {
  width: 34rem;
  height: 100%;
  float: left;
}

@mixin scenery__bg__smollContainer {
  width: 34rem;
  height: 34rem;
  position: relative;
  overflow: hidden;
}


/*header*/
@mixin header{
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  &__logo {
    display: flex;
    flex-grow: 0;
    margin-left: 6rem;

  }
  &__menu {
    display: flex;
    flex-grow: 1;
    font-size: 3rem;
    list-style: none;
    font-family: 'Dancing Script', cursive;
    margin: 0 6rem;
    li {
      margin-right: 5rem;
      a {
        color: $textcolor;
      }
      &:hover {
        border-bottom: 1px solid #333;
      }
    }
  }
  &__btn {
    display: flex;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    height: 50px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    margin: 0 6rem;
    box-shadow: 4px 6px 10px $boxshadow;
    i {
      margin-right: 1rem;
    }
    &:hover {
      background-color: $textcolor;
      color: #f4f4f4;
      .fa-moon {
        color: #fce303;
      }
    }
  }
  &__toogleBtn {
    position: absolute;
    left: 60px;
    top: 15px;
    font-size: 40px;
    display: none;
    color: $maincolor;
  }
}

/*footer*/
@mixin footer{
  position: relative;
  width: 100%;
  height: 300px;
  bottom: 0;
  padding: 70px 60px;
  border-top: 2px solid #ccc;
  &__inner {
    position: relative;
    margin: 0 auto;
  }
  &__logo {
    float: left;
  }
  &__tit {
    padding-top: 50px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    p:first-child {
      font-family: 'Noto Sans KR', sans-serif;
    }
  }
  &__gnb {
    float: right;
    display: flex;
    width: 378px;
    justify-content: space-between;
  }
  &__menu {
    width: 70px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.6rem;
    &__list {
      padding-top: 20px;
      list-style: none;
      li {
        height: 30px;
        a {
          color: $textcolor;
          font-size: 1rem;
        }
      }
    }
  }
}

