@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Noto+Sans+KR:wght@400;700&display=swap');
@import "../variables/variables";
@import "../mixin/mixin";
// font-family: 'Noto Sans KR', sans-serif;
// font-family: 'Dancing Script', cursive;

// 변수


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 10px;
}

.container {
  position: relative;
  overflow: hidden;
}

a {
  text-decoration: none;
}

// 웹접근성 텍스트
.screen_out {
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
}

// Header

.header {
  @include header;
  background-color: $maincolor;
}

// Main
// .main {
//   position: relative;
//   width: 100%;
//   height: 100%;
//   &__content {
//     width: 100%;
//     height: 100%;
//   }
//   &__home {
//     background-color: $maincolor;
//   }
// }

// Main-Home
// .home__inner {
//   width: 1200px;
//   height: 400px;
//   margin: 0 auto;
// }

// Footer
.footer {
  @include footer;
}
