@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Noto+Sans+KR:wght@400;700&display=swap');
@import '../mixin/mixin';
@import '../variables/variables';
// font-family: 'Noto Sans KR', sans-serif;
// font-family: 'Dancing Script', cursive;

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Poppins:wght@300;400;500&display=swap');
/* font-family: 'Nanum Gothic', sans-serif;
font-family: 'Poppins', sans-serif; */

@mixin scenery__bg__Slide {
  width: 50%;
  height: 100%;
  float: left;
}

@mixin scenery__bg__smallSlide {
  width: 34rem;
  height: 100%;
  float: left;
}

@mixin scenery__bg__smollContainer {
  width: 34rem;
  height: 34rem;
  position: relative;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

html,
body {
  height: 100%;
  font-size: 10px;
  // font-size: 7px; // 맥북 기준
}

.screen_out {
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
}

.container {
  width: 100%;
  height: 100%;
}

// Header

.header {
  @include header;
}

/* section2 */
.main__home {
  padding-top: 10rem;
  width: 100%;
  background-color: $subcolor2;
  height: 60rem;
  display: flex;
  .main__img {
    margin: 10rem;
    margin: auto 10rem;
    //border: 1px solid green;
    width: 30%;
    img {
      width: 20rem;
    }
  }
  .main__tit {
    margin: 10rem 0;
    border: 1px solid red;
    // width: 70%;
    width: 100%;
    font-family: 'Nanum Gothic', sans-serif;
    color: $textcolor;
    line-height: 30px;

    .sub_text {
      font-size: 3rem;
    }
    .main_text {
      font-size: 6rem;

      .main {
        color: $hovercolor_special;

        font-weight: bold;
      }
    }

    justify-content: center;
    text-align: center;
    //padding: 30rem 0;
    font-size: 8rem;
  }
}

/* section 3. Horoscope [별점 높은 순] */
.main__horoscope {
  height: 100rem; // 1000px
  position: relative;
  overflow: hidden;
  /* article 3-1. 텍스트 부분 */
  .horoscope__tit {
    color: $textcolordy;
    font-family: 'Nanum Gothic', sans-serif;
    //font-family: 'Poppins', sans-serif;
    //font-family: 'Noto Sans KR', sans-serif;
    display: block;
    margin: 0 auto;
    height: 44rem; // 210+80+150 = 440px
    width: 192rem;
    .tit {
      display: block;
      padding: 21rem 0 0 18rem;
      font-weight: 400;
      font-size: 6rem;
      .main__font {
        font-weight: bold;
        color: $hovercolor_special;
      }
    }
    p {
      display: block;
      padding: 1.4rem 0 0 18rem;
      margin-top: 1rem;
      font-size: 3rem;
      .main__font {
        font-weight: bold;
        color: $hovercolor_special;
      }
    }
  }
  /* article 3-2. 슬라이드 + 버튼 */
  .horoscope__block {
    position: relative;
    width: 100%;
    display: block;
    /* 별점 높은 순 사진 리스트 부분 */
    .horoscope__wrapper {
      width: 192rem;
      height: 40rem;
      margin: 0 auto;
      left: 18rem;
      position: relative;
      // border: 1px solid green;
      display: flex;
      transform: translate3d(0, 0, 0);
      transition: transform 0.5s;
      margin-bottom: 16rem;
      .horoscope {
        margin-right: 3rem;
        //border: 1px solid #979797;
        position: relative;
        // 이미지 호버 시 나오는 카페 설명 부분
        .horoscope__tit {
          color: #fff;
          top: 4rem;
          opacity: 0;
          padding: 4rem;
          position: absolute;
          text-align: left;
          width: 100%;
          transition: all 0.3s ease;
          h1 {
            font-size: 5rem;
          }
          p {
            margin-top: 2rem;
            font-size: 3rem;
          }
        }
        &__img {
          width: 58.4rem;
          height: 40rem;
          opacity: 1;
          transition: all 0.3s ease 0s;
          overflow: hidden;
        }
        &:hover {
          .horoscope__img {
            background-color: #333;
          }
          img {
            //transform: scale(1.1, 1.1);
            transition: all 0.3s ease;
            opacity: 0.15;
          }
          .horoscope__tit {
            opacity: 1;
            transition: all 0.3s ease;
          }
        }
      }
    }
    // 슬라이드 이전 버튼
    .horoscope__prevbtn {
      left: 3rem;
      position: absolute;
      bottom: 16.5rem;
    }
    // 슬라이드 다음 버튼
    .horoscope__nextbtn {
      right: 3rem;
      position: absolute;
      bottom: 16.5rem;
    }
    // 공통 버튼
    .horoscope__btn {
      border: none;
      border-radius: 50px;
      padding: 2rem 2.5rem;
      background-color: #979797;
      opacity: 0.8;
      color: #fff;
      &:hover {
        background-color: $hovercolor;
        color: #fff;
      }
    }
  }
}

/*section 4: 전망좋은 카페*/
.main__scenery {
  height: 1000px;

  .scenery__box {
    height: 1000px;
    position: relative;

    .scenery__bg__left {
      width: 33%;
      height: 100%;
      float: left;
      overflow: hidden;
      position: relative;

      .scenery__bg__bigBox {
        width: 200%;
        height: 100%;
        position: absolute;
        transition: 0.5s ease-out;

        .scenery__bg__bigSlide1 {
          @include scenery__bg__Slide;
          background: url('../img/05/left/L_content_1_1.png') center no-repeat;
          background-size: cover;
        }

        .scenery__bg__bigSlide2 {
          @include scenery__bg__Slide;
          background: url('../img/05/left/L_content_2_1.png') left top no-repeat;
          background-size: cover;
        }
      }

      .scenery__bg__smallBox {
        width: 34rem;
        height: 68rem;
        right: 0;
        top: 50%;
        margin-top: -34rem;
        position: absolute;

        .scenery__bg__up__container {
          @include scenery__bg__smollContainer;

          .scenery__bg__up {
            width: 68rem;
            height: 34rem;
            position: absolute;
            transition: 0.5s ease-out;

            .scenery__bg__smallSlide1 {
              @include scenery__bg__smallSlide;
              background: url('../img/05/left/L_scenery1_1_bg.png') center
                no-repeat;
              background-size: cover;
            }

            .scenery__bg__smallSlide2 {
              @include scenery__bg__smallSlide;
              background: url('../img/05/left/L_scenery_2_1_bg.png') center
                no-repeat;
              background-size: cover;
            }
          }
        }
        .scenery__bg__down {
          width: 34rem;
          height: 34rem;
          background: white;

          .scenery__bg__small {
            width: 34rem;
            height: 34rem;
            position: absolute;
            background: url('../img/05/left/L_text_2_1.png') center no-repeat;
            background-size: cover;
            opacity: 1;
            transition: opacity 1s;
          }
          .scenery__bg__small2 {
            width: 34rem;
            height: 34rem;
            position: absolute;
            background: url('../img/05/left/L_text_1_1.png') center no-repeat;
            background-size: cover;
            opacity: 0;
            transition: opacity 1s;
          }
        }
      }
    }
    .scenery__bg__right {
      width: 67%;
      height: 100%;
      float: left;
      overflow: hidden;
      position: relative;

      .scenery__bg__detail {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        box-shadow: 5px 5px 15px 5px $boxshadow;
        padding-top: 5.7rem;
        background-color: $maincolor;
        position: absolute;
        z-index: 999;
        top: 50%;
        left: 25rem;
        margin-top: 22rem;
        transition: 0.2s ease-in;
        p {
          width: 15rem;
          color: $textcolor;
          font-size: 30px;
          text-align: center;
        }
        .arrow {
          font-size: 30px;
          text-shadow: 5px 5px 7px $boxshadow;
        }
        &:hover {
          transform: scale(1.2);
        }
      }

      .scenery__bg__bigBox {
        width: 200%;
        height: 100%;
        position: absolute;
        transition: 0.5s ease-out;

        .scenery__bg__bigSlide1 {
          @include scenery__bg__Slide;
          background: url('../img/05/right/R_content_1_1.png') center no-repeat;
          background-size: cover;
        }

        .scenery__bg__bigSlide2 {
          @include scenery__bg__Slide;
          background: url('../img/05/right/R_content_2_1.png') center no-repeat;
          background-size: cover;
        }
      }

      .scenery__bg__smallBox {
        width: 34rem;
        height: 68rem;
        left: 0;
        top: 50%;
        margin-top: -340px;
        position: absolute;

        .scenery__bg__up {
          width: 34rem;
          height: 34rem;
          background: white;

          .scenery__bg__small {
            width: 34rem;
            height: 34rem;
            position: absolute;
            background: url('../img/05/right/R_text_2_1.png') center no-repeat;
            background-size: cover;
            opacity: 1;
            transition: opacity 1s;
          }
          .scenery__bg__small2 {
            width: 34rem;
            height: 34rem;
            position: absolute;
            background: url('../img/05/right/R_text_1_1.png') center no-repeat;
            background-size: cover;
            opacity: 0;
            transition: opacity 1s;
          }
        }
        .scenery__bg__down__container {
          @include scenery__bg__smollContainer;

          .scenery__bg__down {
            width: 68rem;
            height: 34rem;
            position: absolute;
            transition: 0.5s ease-out;

            .scenery__bg__smallSlide1 {
              @include scenery__bg__smallSlide;
              background: url('../img/05/right/R_scenery1_1_bg.png') center
                no-repeat;
              background-size: cover;
            }

            .scenery__bg__smallSlide2 {
              @include scenery__bg__smallSlide;
              background: url('../img/05/right/R_scenery2_1_bg.png.png') center
                no-repeat;
              background-size: cover;
            }
          }
        }
      }
    }
  }
}

/*section 5: 이달의 카페*/
.main__best {
  height: 1000px;
  position: relative;
  overflow: hidden;

  .best__tit {
    width: 98.8rem;
    height: 58rem;
    padding: 20rem 0px 0px 9.2rem;
    margin: 0 auto;
    line-height: 50px;
    letter-spacing: 2px;
  }

  .tit {
    font-size: 50px;
    margin-bottom: 3rem;
  }
  .sub__tit {
    font-size: 36px;
    font-family: 'Frank Ruhl Libre', serif;
  }

  .best__bg {
    width: 100%;
    height: 58rem;
    position: relative;
    overflow: hidden;
    background: url('../img/06/best_1_1.png') center no-repeat;
    background-size: cover;

    .best__inner__bg {
      width: 100%;
      height: 58rem;
      position: absolute;
      top: 58rem;
      background: url('../img/06/bg.png') center no-repeat;
      background-size: cover;
      transition: 0.5s ease-out;
    }
  }

  .best__box {
    width: 36rem;
    height: 58rem;
    position: absolute;
    overflow: hidden;
    top: 21rem;
    left: 60%;
    background: url('../img/06/best_1_1.png') center no-repeat;
    background-size: cover;
    box-shadow: 10px 10px 15px $boxshadow;

    .best__header {
      width: 36rem;
      height: 58rem;
      position: absolute;
      top: 58rem;
      background: url('../img/06/bg.png') center no-repeat;
      background-size: cover;
      transition: 0.5s ease-out;
    }
  }

  .scenery__bg__detail {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    box-shadow: 5px 5px 15px 5px $boxshadow;
    padding-top: 5.7rem;
    background-color: $maincolor;
    position: absolute;
    z-index: 999;
    top: 50rem;
    left: 60%;
    margin: 22rem;

    transition: 0.2s ease-in;
    p {
      width: 15rem;
      color: $textcolor;
      font-size: 30px;
      text-align: center;
    }
    .arrow {
      font-size: 30px;
      text-shadow: 5px 5px 7px $boxshadow;
    }
    &:hover {
      transform: scale(1.2);
    }
  }
}

/* section 6. New cafe 4 [뉴 카페] */
.main__newCafe {
  height: 100rem;
  position: relative;
  background-color: $subcolor;
  margin: 0 auto;
  /* article 6-1. 텍스트 부분 */
  .newCafe__tit {
    // border: 1px solid black;
    //font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Nanum Gothic', sans-serif;

    color: $textcolordy;
    padding: 15rem 0 8rem 0;
    text-align: center;
    .tit {
      display: block;
      //padding: 21rem 0 0 18rem;
      font-weight: 400;
      font-size: 5rem;
      margin-bottom: 5rem;
      .main__font {
        font-weight: bold;
        color: $hovercolor_special;
      }
    }
    button {
      background-color: $hovercolor_special;
      padding: 1.5rem 5rem;
      border-radius: 50px;
      font-size: 2rem;
      border: none;
      color: #fff;
    }
    // p {
    //   display: block;
    //   // padding: 1.4rem 0 0 18rem;
    //   margin-top: 1rem;
    //   font-size: 3rem;
    //   .main__font {
    //     font-weight: bold;
    //     color: $hovercolor_special;
    //   }
    // }
  }
  /* article 6-2. 슬라이드 + 버튼 */
  .newCafe__block {
    position: relative;
    width: 79rem;
    margin: 0 auto;
    display: block;
    .swiper-button-next {
      right: -70px;
      color: $textcolordy;
    }
    .swiper-button-prev {
      left: -70px;
      color: $textcolordy;

      &:hover {
        color: #333;
      }
    }
    .swiperbtn {
      color: #fff;
    }
    /* 뉴 카페 이미지 슬라이드 */
    .swiper-container {
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      box-sizing: border-box; /* 이 설정을 하지 않으면 슬라이드드가 틀어짐 */
    }
  }
}

// Footer

.footer {
  @include footer;
}
