@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Noto+Sans+KR:wght@400;700&display=swap");
/*
section2 main-home : 400px
section3 __menu : 1200px

*/
.container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.main {
  display: block;
}

a,
button {
  cursor: pointer;
  text-decoration: none;
  border: none;
  color: #333;
}

a:active,
button:active {
  color: #8d91eb;
}

a:hover,
button:hover {
  color: green;
}

.cafeIcon {
  width: 3.5rem;
  margin-right: 1rem;
}

/* 파트 2 : 카페 소개 */
.main__home {
  width: 100%;
  background-color: #eedeff;
  height: 40rem;
}

.main__home .main__tit {
  width: 100%;
  height: 40rem;
  text-align: center;
  font-size: 8rem;
}

.content {
  font-family: 'Noto Sans KR', sans-serif;
  width: 100%;
  position: relative;
  display: block;
}

.content__menu {
  width: 120rem;
  height: 25rem;
  margin: 0 auto;
  color: #333;
}

.content__menu .wrap {
  width: 105rem;
  height: 17rem;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #cdcdcd;
  /* 밑에 줄*/
}

.content__menu .wrap ul {
  width: 95rem;
  height: 19rem;
  padding: 10rem 0 3rem 0;
  font-size: 3rem;
  margin-bottom: 0rem;
  display: block;
}

.content__menu .wrap ul li {
  width: 22rem;
  position: relative;
  display: inline-block;
  height: 40px;
}

.content__menu .wrap ul li a {
  width: 19rem;
  height: 100%;
  color: #333;
  font-weight: bold;
}

.content__menu .wrap ul li a:hover {
  font-weight: bold;
  color: #8d91eb;
}

.content__menu .wrap .underline {
  width: 22rem;
  height: 5rem;
  position: absolute;
  background: #8d91eb;
  top: 16rem;
  left: 0;
  transition: .2s;
}

.content__menu .tags {
  padding: 1.4rem 0.6rem;
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

.content__menu .tags li {
  padding: 0;
  padding-bottom: 0;
  text-decoration: none;
  font-weight: bold;
  color: #333;
}

.content__menu .tags li:hover {
  box-shadow: 0 -8px #8d91eb inset;
  cursor: pointer;
  font-weight: bold;
}

.content__imgs {
  width: 100%;
  background-color: #f4f4f4;
  padding-bottom: 11rem;
  margin-bottom: 0rem;
}

.content__imgs .select__cafe {
  width: 120rem;
  margin: 0 auto;
  padding: 3rem 0;
  font-size: 2rem;
}

.content__imgs .select__cafe span {
  margin: 0 2rem 0 2rem;
}

.content__imgs .select__cafe span a {
  font-weight: bold;
  color: #333;
}

.content__imgs .select__cafe span a:visited {
  font-weight: bold;
}

.content__imgs .cafe__block {
  width: 120rem;
  margin: 0 auto;
}

.content__imgs .cafe__block .cafe__imgs ul {
  display: flex;
}

.content__imgs .cafe__block .cafe__imgs ul li {
  margin-right: 3rem;
  position: relative;
}

.content__imgs .cafe__block .cafe__imgs ul li:hover {
  transform: translateY(-1em);
  box-shadow: 0 0 10px #9e9e9e;
}

.content__imgs .cafe__block .cafe__imgs ul li img {
  width: 38rem;
  height: 30rem;
  margin: 0;
}

.content__imgs .cafe__block .cafe__imgs ul li .img__text {
  position: absolute;
  z-index: 1;
  bottom: 0;
  height: 7.3rem;
  width: 38rem;
  background-color: #47405a;
  opacity: 0.8;
  color: #fff;
  text-align: center;
  font-size: 2.8rem;
  padding: 1.5rem 0;
}

.content__imgs .cafe__block .cafe__imgs2 {
  margin: 3rem 0 3rem 0;
}

/*------detail info---------*/
/*메인 title*/
.main_detail_info {
  display: none;
  height: 2000px;
}

.main_detail_info .main__detail {
  height: 600px;
  position: relative;
  background: #eedeff;
}

.main_detail_info .main__detail .detailed__information {
  width: 70rem;
  height: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -5rem -35rem;
  text-align: center;
  font-size: 80px;
  font-family: 'Dancing Script', cursive;
}

.main_detail_info .detailed__info {
  height: 1400px;
  position: relative;
  background: #f4f4f4;
}

.main_detail_info .detailed__info .prev {
  width: 10rem;
  position: absolute;
  height: 4rem;
  font-size: 3rem;
  background: #eedeff;
  border-radius: 30px;
  left: 50%;
  top: 5rem;
  margin-left: 60rem;
  box-shadow: 1rem 1rem 0.6rem 0.3rem gray;
}

.main_detail_info .detailed__info .prev:hover {
  background: #8d91eb;
  color: white;
}

.main_detail_info .detailed__info .detailed__wrap {
  width: 123rem;
  height: 120rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -60rem -61.5rem;
}

.main_detail_info .detailed__info .detailed__wrap .detailed__container {
  width: 123rem;
  height: 120rem;
  overflow: hidden;
  position: relative;
}

.main_detail_info .detailed__info .detailed__wrap .detailed__container li {
  width: 38rem;
  height: 38rem;
  float: left;
  margin: 0rem 3rem 3rem 0rem;
}

.main_detail_info .detailed__info .detailed__wrap .detailed__container .img5 {
  background: white;
  padding-top: 7rem;
}

.main_detail_info .detailed__info .detailed__wrap .detailed__container .img5 .cafe_theme {
  font-size: 4rem;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  line-height: 13rem;
}

.main_detail_info .detailed__info .detailed__wrap .detailed__container .img5 .cafe_name {
  font-size: 4rem;
  text-align: center;
  line-height: 6rem;
}

.main_detail_info .detailed__info .detailed__wrap .detailed__container .caption {
  width: 120rem;
  height: 120rem;
  position: absolute;
  background: rgba(190, 189, 189, 0.836);
  top: 120rem;
  transition: 0.5s ease-in;
  opacity: 0;
  z-index: 200;
}

.main_detail_info .detailed__info .detailed__wrap .detailed__container .caption .main_tit {
  font-size: 14.4rem;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  line-height: 50rem;
}

.main_detail_info .detailed__info .detailed__wrap .detailed__container .caption .cafe_tit {
  font-size: 7.2rem;
  text-align: center;
}

.main_detail_info .detailed__info .detailed__wrap .detailed__container .caption .cafe_address {
  font-size: 3rem;
  text-align: center;
  padding-top: 6rem;
}

.main_detail_info .detailed__info .detailed__wrap .detailed__container .caption .cafe_link {
  font-family: 'Dancing Script', cursive;
  font-size: 4.8rem;
  text-align: center;
  padding-top: 3rem;
}

.main_detail_info .detailed__info .detailed__wrap .detailed__container .caption .stars {
  font-size: 4.8rem;
  text-align: center;
  line-height: 15rem;
}

.main_detail_info .detailed__info .detailed__wrap .detailed__container:hover .caption {
  opacity: 1;
  transform: translateY(-120rem);
}
/*# sourceMappingURL=specialCafe.css.map */