@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Noto+Sans+KR:wght@400;700&display=swap');
@import '../../variables/_variables.scss';
@import '../../mixin/mixin.scss';
// font-family: 'Noto Sans KR', sans-serif;
// font-family: 'Dancing Script', cursive;
/*
section2 main-home : 400px
section3 __menu : 1200px

*/

.container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.main {
  display: block;
}

// 링크, 버튼 클릭시 마우스 커서 포인트로 변경
a,
button {
  cursor: pointer;
  text-decoration: none;
  border: none;
  color: $textcolor;
  &:active {
    color: $hovercolor_special;
  }
  &:hover {
    color: green;
  }
}

.cafeIcon {
  width: 3.5rem;
  margin-right: 1rem;
}

/* 파트 2 : 카페 소개 */
.main__home {
  width: 100%;
  background-color: #eedeff;
  height: 40rem;
  .main__tit {
    padding-top: 15rem;
    padding-left: 6rem;
    width: 100%;
    height: 40rem;
    text-align: left;
    line-height: 60px;
    .main__title {
      font-weight: bold;
      font-size: 4rem;
    }
    .sub__title {
      font-weight: normal;
      font-size: 1.6rem;
    }
  }
}

// 스페셜 카페 content
.content {
  font-family: 'Noto Sans KR', sans-serif;
  width: 100%;
  position: relative;
  display: block;
  // 메뉴 박스 부분
  &__menu {
    width: 120rem;
    height: 25rem;
    margin: 0 auto;
    // 카페 메뉴 - 공통 ul, li 부분 style
    .wrap {
      width: 88rem;
      height: 17rem;
      position: relative;
      overflow: hidden;
      border-bottom: 1px solid #cdcdcd;
      ul {
        width: 95rem;
        height: 19rem;
        padding: 10rem 0 3rem 0;
        font-size: 3rem;
        margin-bottom: 0rem;
        display: block;
        li {
          width: 22rem;
          position: relative;
          display: inline-block;
          height: 40px;

          a {
            width: 19rem;
            height: 100%;
            font-weight: bold;
            // &.visited {
            //   padding-bottom: 2.4rem;
            //   border-bottom: 0.8rem solid $hovercolor_special;
            //   color: $hovercolor_special;
            // }
            &:hover {
              font-weight: bold;
              color: $hovercolor_special;
            }
          }
        }
      }

      /* 밑에 줄*/

      .underline {
        width: 22rem;
        height: 5rem;
        position: absolute;
        background: $hovercolor_special;
        top: 16.4rem;
        left: 0;
      }
    }

    // 카페 메뉴 - 위치 선택
    // .locations {
    //   font-size: 2rem;
    //   li {
    //     &:hover,
    //     :active {
    //       font-weight: bold;
    //       cursor: pointer;
    //     }
    //   }
    // }
    // 카페 메뉴 - 해시 태그
    .tags {
      padding: 1.4rem 0.6rem;
      font-size: 1.6rem;
      margin-bottom: 3rem;
      li {
        padding: 0;
        padding-bottom: 0;
        text-decoration: none;
        font-weight: bold;
        &:hover {
          box-shadow: 0 -8px $hovercolor_special inset;
          cursor: pointer;
          font-weight: bold;
        }
      }
    }
  }
  // 메뉴 이미지 부분
  &__imgs {
    width: 100%;
    background: #f4f4f4;
    padding-bottom: 11rem;
    // margin-bottom: 5rem; //푸터와 너무 떨어져 있어서 0으로 바꿈.
    margin-bottom: 0rem;

    // 선택된 카페 카테고리 텍스트
    .select__cafe {
      width: 120rem;
      margin: 0 auto;
      padding: 3rem 0;
      font-size: 2rem;
      span {
        a {
          font-weight: bold;
          &:visited {
            font-weight: bold;
          }
          &:hover {
            color: $hovercolor_special;
          }
        }
        margin: 0 2rem 0 2rem;
      }
    }
    // 카페 이미지 모음
    .cafe__block {
      width: 120rem;
      margin: 0 auto;
      //display: block;
      .cafe__imgs {
        // 카페 이미지 1, 2, 3번째 줄 ul, li 공통 style
        ul {
          display: flex;
          li {
            margin-right: 3rem;
            position: relative;
            &:hover {
              transform: translateY(-1em);
              -moz-box-shadow: 0 0 10px rgb(158, 158, 158);
              -webkit-box-shadow: 0 0 10px rgb(158, 158, 158);
              box-shadow: 0 0 10px rgb(158, 158, 158);
            }
            img {
              // 이미지 사이즈
              width: 38rem;
              height: 30rem;
              margin: 0;
            }
            .img__text {
              position: absolute;
              z-index: 1;
              bottom: 0;
              height: 7.3rem;
              width: 38rem;
              background: #47405a;
              opacity: 0.8;
              color: #fff;
              text-align: center;
              font-size: 2.8rem;
              padding: 1.5rem 0;
            }
          }
        }
        // 카페 이미지 1번째 줄
        // &1 {
        // }
        // 카페 이미지 2번째 줄
        &2 {
          margin: 3rem 0 3rem 0;
        }
        // 카페 이미지 3번째 줄
        // &3 {
        // }
      }
    }
  }
}

/*------detail info---------*/

/*메인 title*/
.main_detail_info {
  display: none;
  .main__home {
    //main__detail
    height: 400px;
    background: $maincolor;
    .detailed__information {
      //detailed__information
      width: 70rem;
      height: 10rem;
      margin: auto;
      text-align: center;
      font-size: 80px;
      font-family: 'Dancing Script', cursive;
    }
  }
  .detailed__info {
    background: #f4f4f4;

    .prev {
      width: 10rem;
      position: absolute;
      height: 4rem;
      font-size: 3rem;
      background: $maincolor;
      border-radius: 30px;
      bottom: 57rem;
      right: 15%;
      box-shadow: 1rem 1rem 0.6rem 0.1rem gray;

      &:hover {
        background: $hovercolor_special;
        color: white;
      }
    }

    .detailed__wrap {
      width: 123rem;
      margin: auto;

      .detailed__container {
        width: 123rem;
        height: 140rem;
        padding-top: 10rem;

        li {
          width: 38rem;
          height: 38rem;
          float: left;
          margin: 0rem 3rem 3rem 0rem;
          // background: url('../../img/detail_img/rooftop/regentsky/0.png');
          // background: url('../detail_img/rooftop/regentsky/0.png');
        }
        .img5 {
          background: white;
          padding-top: 7rem;

          .cafe_theme {
            font-size: 4rem;
            font-family: 'Dancing Script', cursive;
            text-align: center;
            line-height: 13rem;
          }

          .cafe_name {
            font-size: 4rem;
            text-align: center;
            line-height: 6rem;
          }
        }
      }
      .caption {
        width: 120rem;
        height: 20rem;
        margin: 3rem;

        .main_tit {
          font-size: 3rem;
          font-family: 'Dancing Script', cursive;
          line-height: 5rem;
        }

        .cafe_tit {
          font-size: 2rem;
          line-height: 5rem;
        }

        .cafe_address {
          font-size: 2rem;
          line-height: 3rem;
        }

        .cafe_link {
          font-size: 2rem;
        }

        .stars {
          font-size: 2.5rem;
          text-align: right;
        }
      }
    }
  }
}

// header
.header {
  @include header;
}

.project {
  position: relative;
  width: 100%;
  margin-top: 200px;
  &__inner {
    width: 1200px;
    margin: 0 auto;
  }
  &-main {
    width: 100%;
    text-align: center;
    &__txt {
      font-size: 2rem;
      margin: 40px 0;
      line-height: 3.5rem;
    }
  }
  &-content {
    background-color: $maincolor;
    height: 100%;
    width: 100%;
    &__txt {
      padding-top: 70px;
      &--name {
        font-size: 3rem;
      }
    }
    &__box {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      &--txt {
        font-size: 1.25rem;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 3.5rem;
      }
    }
    .box__txt {
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 1.875rem;
      margin: 8px 0 70px;
      i {
        color: #5d4b72;
      }
      span {
        margin: 0 1rem;
      }
      &--color {
        font-weight: bold;
        color: #5d4b72;
      }
    }
    &-page {
      width: 100%;
    }
  }

  &-page {
    width: 100%;
    height: 100%;
    &__txt {
      width: 100%;
      font-size: 3rem;
      margin-top: 70px;
    }
    &__subtxt {
      width: 100%;
      font-size: 2rem;
      margin: 2rem 0;
      line-height: 3.5rem;
    }
    &__img {
      width: 1200px;
      height: 600px;
      background-color: #c4c4c4;
    }
  }

  &-team {
    width: 100%;
    height: 100%;
    &__txt {
      width: 100%;
      margin-top: 70px;
      font-family: 'Noto Sans KR', sans-serif;
      &--name {
        font-size: 3rem;
      }
      &--subname {
        font-size: 2rem;
        margin: 5rem 0;
      }
    }
    &__subtxt {
      margin: 5rem 0;
    }
    &__profile {
      display: flex;
      align-items: center;
      width: 100%;
      height: 280px;
      box-shadow: 0px 3px 10px $maincolor;
      &--img {
        width: 130px;
        height: 130px;
        margin: 103px;
      }
      &--content {
        font-family: 'Noto Sans KR', sans-serif;
        width: 600px;
      }
    }
    &__profile:last-child {
      margin: 3rem 0;
    }
    &__address--color {
      color: #5d4b72;
    }
  }
  &-name {
    margin: 0.6rem 0;
    font-size: 1.4rem;
  }
}
.name {
  font-size: 20px;
  &__part {
    font-size: 1.6rem;
    background-color: $maincolor;
    color: #333;
    padding: 0.4rem 1rem;
    margin: 0 0.8rem;
    border-radius: 20px;
  }
}
