@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Noto+Sans+KR:wght@400;700&display=swap');

// font-family: 'Noto Sans KR', sans-serif;
// font-family: 'Dancing Script', cursive;


$maincolor : #EEDEFF;
@mixin scenery__bg__Slide {
  width: 50%;
  height: 100%;
  float: left;
}

@mixin scenery__bg__smallSlide{
  width: 340px;
  height: 100%;
  float: left;
}

@mixin scenery__bg__smollContainer{
  width: 340px;
  height: 340px;
  position: relative;
  overflow: hidden;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #fff;
}

.screen_out {
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
}

.container{
  width: 100%;
  height: 5200px;
}

header{
  height: 100px;
  background-color: rosybrown;
}

.main__home{
  height: 600px;
}

// width 100%
.main__horoscope{
  height: 1000px;
  position: relative;
  overflow: hidden;
  background: olive;

}

.main__new{
  height: 1200px;
  position: relative;
  margin: 0 auto;
  background: orangered;
}

.main__scenery{
  height: 1000px;
  
  .scenery__box{
    height: 1000px;

    .scenery__bg__left{
      width: 34%;
      height: 100%;
      float: left;
      overflow: hidden;
      position: relative;

      .scenery__bg__bigBox{
        width: 200%;
        height: 100%;
        position: absolute;
        transition: 0.5s ease-out;

        .scenery__bg__bigSlide1{
          @include scenery__bg__Slide;
          background: url('../img/05/scenery1_1.png') center no-repeat;
          background-size: cover;
        }

        .scenery__bg__bigSlide2{
          @include scenery__bg__Slide;
          background: url('../img/05/scenery2_1.png') center no-repeat;
          background-size: cover;
        }
      }

      .scenery__bg__smallBox{
        width: 340px;
        height: 680px;
        right: 0;
        top: 50%;
        margin-top: -340px;
        position: absolute;

        .scenery__bg__up__container{
          @include scenery__bg__smollContainer;

          .scenery__bg__up{
            width: 680px;
            height: 340px;
            position: absolute;
            transition: 0.5s ease-out;
            
            .scenery__bg__smallSlide1{
              @include scenery__bg__smallSlide;
              background: url('../img/05/scenery1_1_small.png') center no-repeat;
              background-size: cover;
            }
    
            .scenery__bg__smallSlide2{
              @include scenery__bg__smallSlide;
              background: url('../img/05/scenery2_1_small.png') center no-repeat;
              background-size: cover;
            }
          }


        }
        .scenery__bg__down{
          width: 340px;
          height: 340px;

          .scenery__bg__small{
            width: 340px;
            height: 340px;
            position: absolute;
            background: url('../img/05/coffee1.png') center no-repeat;
            background-size: cover;
          }
          
        }

      }
    }
    .scenery__bg__right{
      width: 66%;
      height: 100%;
      float: left;
      overflow: hidden;
      position: relative;

      .scenery__bg__bigBox{
        width: 200%;
        height: 100%;
        position: absolute;
        transition: 0.5s ease-out;

        .scenery__bg__bigSlide1{
          @include scenery__bg__Slide;
          background: url('../img/05/scenery1_2.png') center no-repeat;
          background-size: cover;
        }

        .scenery__bg__bigSlide2{
          @include scenery__bg__Slide;
          background: url('../img/05/scenery2_2.png') center no-repeat;
          background-size: cover;
        }
      }

      .scenery__bg__smallBox{
        width: 340px;
        height: 680px;
        left: 0;
        top: 50%;
        margin-top: -340px;
        position: absolute;

        .scenery__bg__up{
          width: 340px;
          height: 340px;

          .scenery__bg__small{
            width: 340px;
            height: 340px;
            position: absolute;
            background: url('../img/05/coffee1.png') center no-repeat;
            background-size: cover;
          }
        }
        .scenery__bg__down__container{
         @include scenery__bg__smollContainer;

         .scenery__bg__down{
          width: 680px;
          height: 340px;
          position: absolute;
          transition: 0.5s ease-out;

          .scenery__bg__smallSlide1{
            @include scenery__bg__smallSlide;
            background: url('../img/05/scenery1_2_small.png') center no-repeat;
            background-size: cover;
          }
  
          .scenery__bg__smallSlide2{
            @include scenery__bg__smallSlide;
            background: url('../img/05/scenery2_2_small.png') center no-repeat;
            background-size: cover;
          }

        }
        }

        
          
        

      }
    }

  }
}

.main__best{
  height: 1000px;
  position: relative;
  overflow: hidden;

  .best__tit{
    width: 600px;
    height: 420px;
    padding: 240px 0px 60px 360px;
  }

  .best__bg{
    width: 100%;
    height: 580px;
    position: relative;
    overflow: hidden;
    background: url("../img/06/best_1_1.png") center no-repeat;
    background-size: cover;

    .best__inner__bg{
      width: 100%;
      height: 580px;
      position: absolute;
      top: 580px;
      background: url("../img/06/bg.png") center no-repeat;
      background-size: cover;
      transition: 0.5s ease-out;
    }
  }

  .best__box{
    width: 360px;
    height: 580px;
    position: absolute;
    overflow: hidden;
    top: 210px;
    left: 60%;
    background: url("../img/06/best_1_1.png") center no-repeat;
    background-size: cover;

    .best__header{
      width: 360px;
      height: 580px;
      position: absolute;
      top: 580px;
      background: url("../img/06/bg.png") center no-repeat;
      background-size: cover;
      transition: 0.5s ease-out;
    }
  }

}

footer{
  height: 300px;
  background-color: sienna;
}