@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Noto+Sans+KR:wght@400;700&display=swap");
/*main scss*/
/*header*/
@media screen and (max-width: 1024px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
  }
  .header__logo {
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .header__menu li {
    width: 100%;
    padding: 15px 0 15px 60px;
  }
  .header__menu li:hover {
    background-color: #eedeff;
    border-bottom: none;
  }
  .header__menu .active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__btn {
    position: absolute;
    right: 0;
    top: 20px;
    padding: 0 1.5rem;
  }
  .header__btn i {
    margin: 0 auto;
    font-size: 2rem;
  }
  .header__btn--right {
    display: none;
  }
  .header__toogleBtn {
    display: block;
  }
}

/*footer*/
@media screen and (max-width: 1024px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__right {
    margin-left: 6rem;
  }
  .footer__menu {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .footer__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__menu {
    margin-top: 60px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

html,
body {
  height: 100%;
  font-size: 10px;
}

.screen_out {
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
}

.container {
  width: 100%;
}

.header {
  position: fixed;
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  margin-left: 6rem;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 3rem;
  list-style: none;
  font-family: 'Dancing Script', cursive;
  margin: 0 6rem;
}

.header__menu li {
  margin-right: 5rem;
}

.header__menu li a {
  color: #333;
}

.header__menu li:hover {
  border-bottom: 1px solid #333;
}

.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3rem;
  height: 50px;
  border-radius: 30px;
  border: 0;
  outline: 0;
  margin: 0 6rem;
  -webkit-box-shadow: 4px 6px 10px #000000a8;
          box-shadow: 4px 6px 10px #000000a8;
}

.header__btn i {
  margin-right: 1rem;
}

.header__btn:hover {
  background-color: #333;
  color: #f4f4f4;
}

.header__btn:hover .fa-moon {
  color: #fce303;
}

.header__toogleBtn {
  position: absolute;
  left: 60px;
  top: 15px;
  font-size: 40px;
  display: none;
  color: #eedeff;
}

.project {
  position: relative;
  width: 100%;
  padding-top: 200px;
}

.project__inner {
  width: 1200px;
  margin: 0 auto;
}

.project-main {
  width: 100%;
  text-align: center;
}

.project-main__txt {
  font-size: 2rem;
  margin: 40px 0;
  line-height: 3.5rem;
}

.project-content {
  background-color: #eedeff;
  height: 100%;
  width: 100%;
}

.project-content__txt {
  padding-top: 70px;
}

.project-content__txt--name {
  font-size: 3rem;
}

.project-content__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.project-content__box--txt {
  font-size: 1.25rem;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 3.5rem;
}

.project-content .box__txt {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1.875rem;
  margin: 8px 0 70px;
}

.project-content .box__txt i {
  color: #5D4B72;
}

.project-content .box__txt span {
  margin: 0 1rem;
}

.project-content .box__txt--color {
  font-weight: bold;
  color: #5D4B72;
}

.project-content-page {
  width: 100%;
}

.project-page {
  width: 100%;
  height: 100%;
}

.project-page__txt {
  width: 100%;
  font-size: 3rem;
  margin-top: 70px;
}

.project-page__subtxt {
  width: 100%;
  font-size: 2rem;
  margin: 2rem 0;
  line-height: 3.5rem;
}

.project-page__img {
  width: 1200px;
  height: 600px;
  background-color: #c4c4c4;
}

.project-team {
  width: 100%;
  height: 100%;
}

.project-team__txt {
  width: 100%;
  margin-top: 70px;
  font-family: 'Noto Sans KR', sans-serif;
}

.project-team__txt--name {
  font-size: 3rem;
}

.project-team__txt--subname {
  font-size: 2rem;
  margin: 5rem 0;
}

.project-team__subtxt {
  margin: 5rem 0;
}

.project-team__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 280px;
  -webkit-box-shadow: 0px 3px 10px #eedeff;
          box-shadow: 0px 3px 10px #eedeff;
}

.project-team__profile--img {
  width: 130px;
  height: 130px;
  margin: 103px;
}

.project-team__profile--content {
  font-family: 'Noto Sans KR', sans-serif;
  width: 600px;
}

.project-team__profile:last-child {
  margin: 3rem 0;
}

.project-team__address--color {
  color: #5D4B72;
}

.project-name {
  margin: 0.6rem 0;
  font-size: 1.4rem;
}

.name {
  font-size: 20px;
}

.name__part {
  font-size: 1.6rem;
  background-color: #eedeff;
  color: #333;
  padding: 0.4rem 1rem;
  margin: 0 0.8rem;
  border-radius: 20px;
}

.footer {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__left {
  margin-left: 6rem;
}

.footer__copyright {
  margin-top: 50px;
  font-weight: bold;
}

.footer__copyright p:last-child {
  font-weight: normal;
  font-family: 'Dancing Script', cursive;
  margin-top: 10px;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 6rem;
}

.footer__menu {
  width: 70px;
  font-size: 1.6rem;
  list-style: none;
  margin-left: 4rem;
}

.footer__menu--list {
  height: 30px;
  padding-top: 30px;
}

.footer__menu li {
  font-size: 1rem;
}
/*# sourceMappingURL=about.css.map */