@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Noto+Sans+KR:wght@400;700&display=swap');
@import "../../variables/variables";
@import "../../mixin/mixin.scss";
// font-family: 'Noto Sans KR', sans-serif;
// font-family: 'Dancing Script', cursive;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

html,
body {
  height: 100%;
  font-size: 10px;
  color: $textcolor;
}

.screen__out {
  text-indent: -9999px;
  overflow: hidden;
  position: absolute;
}

.container {
  width: 100%;
  position: absolute;
  font-family: 'Noto Sans KR', sans-serif;
}

// header
.header {
  position: fixed;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  &__logo {
    display: flex;
    flex-grow: 0;
    margin-left: 6rem;
  }
  &__menu {
    display: flex;
    flex-grow: 1;
    font-size: 3rem;
    list-style: none;
    font-family: 'Dancing Script', cursive;
    margin: 0 6rem;
    li {
      margin-right: 5rem;
      a {
        color: $textcolor;
      }
      &:hover {
        border-bottom: 1px solid #333;
      }
    }
  }
  &__btn {
    display: flex;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    height: 50px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    margin: 0 6rem;
    box-shadow: 4px 6px 10px $boxshadow;
    i {
      margin-right: 1rem;
    }
    &:hover {
      background-color: $textcolor;
      color: #f4f4f4;
      .fa-moon {
        color: #fce303;
      }
    }
  }
  &__toogleBtn {
    position: absolute;
    left: 60px;
    top: 15px;
    font-size: 40px;
    display: none;
    color: $maincolor;
  }
}


@media screen and (max-width: 1024px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    width: 100%;
    &__logo {
      padding-top: 15px;
      text-align: center;
      margin: 0;
      align-items: center;
      img {
        width: 60%;
      }
    }
    &__menu {
      display: none;
      flex-direction: column;
      width: 100%;
      li {
        width: 100%;
        padding: 15px 0 15px 60px;
        &:hover {
          background-color: $maincolor;
          border-bottom: none;
        }
      }
      .active {
        display: flex;
      }
    }
    &__btn {
      position: absolute;
      right: 0;
      top: 20px;
      padding: 0 1.5rem;
      i {
        margin: 0 auto;
        font-size: 2rem;
      }
      &--right {
        display: none;
      }
    }
    &__toogleBtn {
      display: block;
    }
  }
}



















.project {
  position: relative;
  width: 100%;
  margin-top: 200px;
  &__inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 6rem;
  }
  &-main {
    width: 100%;
    text-align: center;
    &__txt {
      font-size: 2rem;
      margin: 40px 0;
      line-height: 3.5rem;
    }
  }
  &-content {
    background-color: $maincolor;
    width: 100%;
    height: 100%;
    &__txt {
      padding-top: 70px;
      &--name {
        font-size: 3rem;
        font-weight: bold;
        color: #ccb7ff;
        width: 100%;
      }
    }
    &__subtxt {
        font-size: 2rem;
        height: 200px;
        display: flex;
        flex-direction: column;
        line-height: 3.5rem;
        width: 100%;
        padding: 0 2rem 0 0;
        margin-top: 30px;
    }
    &__box {
      display: flex;
      justify-content: space-between;
      width: 100%;
      &--left {
        img {
          width: 100%;
          padding-right: 30px;
        }
      }
      &--right {
        position: relative;
        bottom: 200px;
        img {
          width: 100%;
        }
      }
    }
    .box__txt {
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 1.875rem;
      margin: 8px 0 70px;
      span {
        margin: 0 1rem;
      }
      &--color {
        font-weight: bold;
        color: #ccb7ff;
      }
    }
    &-page {
      width: 100%;
    }
  }

  &-page {
    width: 100%;
    height: 100%;
    &__txt {
      width: 100%;
      font-size: 3rem;
      margin-top: 70px;
      font-weight: bold;
      color: #ccb7ff;
    }
    &__subtxt {
      width: 100%;
      font-size: 2rem;
      margin: 2rem 0;
      line-height: 3.5rem;
    }
    &__img {
      img {
        width: 100%;
        box-shadow: 0px 3px 10px $boxshadow;
        border-radius: 10px;
      }
    }
  }

  &-team {
    width: 100%;
    height: 100%;
    padding-bottom: 70px;
    &__txt {
      width: 100%;
      margin-top: 70px;
      font-family: 'Noto Sans KR', sans-serif;
      &--name {
        font-size: 3rem;
      }
      &--subname {
        font-size: 2rem;
        margin: 5rem 0;
      }
    }
    &__subtxt {
      margin: 5rem 0;
    }
    &__profile {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      box-shadow: 0px 3px 10px $maincolor;
      &--img {
        width: 130px;
        height: 130px;
        margin: 103px;
      }
      &--content {
        font-family: 'Noto Sans KR', sans-serif;
        width: 100%;
        height: 100%;
      }
      &__des {
        width: 100%;
      }
    }
    &__profile:last-child {
      margin: 3rem 0;
    }
    &__address--color {
      color: #ccb7ff;
    }
  }
  &-name {
    margin: 0.6rem 0;
    font-size: 1.4rem;
  }
}
.name {
  font-size: 20px;
  width: 100%;
  &__part {
    font-size: 1.6rem;
    background-color: $maincolor;
    color: #333;
    padding: 0.4rem 1rem;
    margin: 0 0.8rem;
    border-radius: 20px;
  }
}

.txtColor {
  color: #ccb7ff;
}


.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
  border-top: 1px solid #c4c4c4;
  &__left {
    margin-left: 6rem;
  }
  &__copyright {
    margin-top: 50px;
    font-weight: bold;
    p:last-child {
      font-weight: normal;
      font-family: 'Dancing Script', cursive;
      margin-top: 10px;
    }
  }
  
  &__right {
    display: flex;
    margin-right: 6rem;
  }
  &__menu {
    width: 100px;
    font-size: 1.6rem;
    list-style: none;
    margin-left: 4rem;
    &--list {
      height: 30px;
      padding-top: 30px;
    }
    li {
      font-size: 1rem;
      :hover {
        color: #ccb7ff;
      }
      a {
        color: $textcolor;
      }
    }
  }
}

@media screen and (max-width:1024px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__right {
      margin: 4rem 0 0 6rem;
    }
    &__menu {
      margin: 0;
    }
  }
}
@media screen and (max-width:768px) {
  .footer {
    &__right {
      display: flex;
      flex-direction: column;
    }
    &__menu:last-child {
      margin-top: 60px;
    }
  }
  
}




@media screen and (max-width: 768px) {
  .project-content{
    &__box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &--left {
        img {
          padding: 0;
        }
      }
      &--right {
        top: 0;
      }
    }
  }
  
}
@media screen and (max-width:1024px) {
  .project-main {
    &__logo {
      img {
        width: 24%;
      }
    }
    &__txt {
      width: 100%;
      span {
        font-size: 1.4rem;
      }
    }
  }
  .project-content {
    &__txt--name {
      font-size: 2rem;
    }
    &__subtxt {
      width: 100%;
      font-size: 1.4rem;
    }
  }
  .project-page {
    &__txt {
      font-size: 2rem;
    }
    &__subtxt {
      font-size: 1.4rem;
    }
  }
  .project-team__profile {
    display: flex;
    flex-direction: column;
    &--img {
      margin: 10px 0;
    }
    &--content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem;
    }
  }
  .name {
    font-size: 1.6rem;
    &__part {
      font-size: 1rem;
    }
  }
}